@import '../vars'
    
.workspace-home
    font-size: 18px
    overflow-y: scroll

    section
        margin: 3rem 0px

    .member, .owner

        img 
            border-radius: 50%
            margin-right: .4rem
            border: double 4px black

        .username
            font-weight: bold
    
    .team .member
        display: inline-block

    .team .open-invitation-modal
        display: block
        margin-top: 1rem
        color: $primaryRed
        font-weight: bold
        font-size: 16px
        cursor: pointer