h1 Welcome to Code Companions!
p 
    | Hi there #{name}! Thank you for signing up for a Code Companions Account. To complete the registration 
    | process, please follow 
    a(href="https://codecompanions.herokuapp.com/#/account/verify/"+verificationCode) this link 
    | to verify your account.