.btn-primary-bold
    background: $primaryRed
    color: whitesmoke

    &:hover, &:focus
        background: $primaryRed 

    &:hover
        background: lighten($primaryRed, 10%)

    &:disabled
        padding-top: 0px
        padding-bottom: 0px
        opacity: 1
        background: white
        color: black
        border: 1px solid lightgray

        &:hover
            background: white
            color: black
            border: 1px solid lightgray

.edit-btn
    vertical-align: middle
    opacity: 0
    position: absolute
    top: 5%
    right: 5%
    transition: transform 400ms ease, opacity 425ms ease
    border-radius: 50%
    box-shadow: 2px 2px 5px .5px lighten(#1d1d1d, 20%)
    padding: 10px
    transform: rotate(-90deg)