.htmltag
    color: $primaryGreen
    font-weight: bold

.error-message
    font-size: 16px 
    background: lighten($primaryRed, 55%)
    padding: 1% 2%

.success-message
    padding: 1% 2%
    fotn-weight: bold
    color: $primaryGreen
    background: lighten($primaryGreen, 55%)

.exception
    color: darken($primaryRed, 10%)
    font-weight: bold