nav.top-bar
    background: #1d1d1d
    color: whitesmoke
    position: fixed
    width: 100%

    ul
        background: inherit
        
    .logo
        font-family: Pathway Gothic One
        font-size: 22px

        &:hover, &:focus
            color: inherit

    .top-bar-right
        font-family: Pathway Gothic One
        font-size: 22px