/*************************
    FILE STRUCTURE FOR STYLESHEETS:
    
    index.sass - base styles
    _vars.sass - sass variables
    components - styles for any components that may be used many times throughout the app (e.g. buttons, comment, post)
    pages - styles for the layout of the apps pages and page specific styles not used elsewhere


//FONTS
@import url('https://fonts.googleapis.com/css?family=Quicksand|Pathway+Gothic+One');

//VARS
@import 'vars'

//BASE STYLES
*
    box-sizing: border-box

body
    font-family: Quicksand

h1, h2, h3, h4, h5, h6
    font-family: Pathway Gothic One
    font-weight: normal

    //for header tags in froala editor
    strong
        font-family: Pathway Gothic One !important
        font-weight: normal !important
input 
    font-family: Quicksand

button
    user-select: none

a
    color: inherit

    &:hover
        color: $primaryRed

    &:focus
        color: inherit
        
section a
    color: $primaryBlue


//IMPORTS
@import './components/nav'
@import './components/buttons'
@import './components/misc'
@import './components/loader'
@import './components/modal'
@import './components/editmodal'
@import './components/projectsearchbar'
@import './components/application'
@import './components/pagination'
@import './components/invitationmodal'
@import './components/userslist'
@import './components/deletepost'

